body {
  padding-top: 5rem;
  background-color: rgb(224,255,251);
}

/*
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
*/

.logo img {
  height: 50px;
  object-fit: cover;
}

/*
img#image-carousel {
  max-width: 70%;
  margin: auto;
  padding-top: 20px;
}
*/

h1 {
  color: Black;
  padding-top: 10px;
  text-align: center;
  margin: 20px;
}

hr {
  color: white;
  border: dotted;
  max-width: 50%;
}
