body {
  padding-top: 5rem;
  background: rgb(190,190,190);
  margin: 50px;
}

div#coming-soon {
  text-align: center;
}

img#bottom-image{
  width: 100%;
}

.logo img {
  height: 50px;
  object-fit: cover;
}

.social-image{
  width: 30px;
  height: 30px;
}

#social-media{
  text-align: right;
}

hr{
  border: dotted;
  color: black;
  width: 80%;
}

.contact{
  text-align: left;
}
