body {
  padding-top: 5rem;
  background-color: rgb(224,255,251);
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

div#top-locations {
  padding: 10px;
  colour: white;
}

img#image-carousel {
  max-width: 70%;
  margin: auto;
  padding-top: 20px;
}

div#quick-links{
  text-align: center;
}

h1{
  color: white;
  padding-top: 50px;
  text-align: center;
}

hr {
  color: white;
  border: dotted;
  max-width: 50%;
}


.carousel-item{
    height: 500px;
}
.carousel-item img{
    height: 500px;
    object-fit: cover;
}
